body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* esconder o scroll horizontal */
  overflow-x: hidden;
}

.light_mode{
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.dark_mode{
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}