body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* esconder o scroll horizontal */
  overflow-x: hidden;
}

.light_mode{
  background-color: #fff;
}

.dark_mode{
  background-color: #000;
}